doctype html
html
    head
        link(rel="stylesheet",href="/css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title poligonator
    body
        include ../partials/about-us-block.pug
        include ../partials/about-us-footer.pug
        script(type="text/javascript", src="/js/main.js")