doctype html
html
    head
        link(rel="stylesheet",href="/css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title poligonator
    body
        include ../partials/header.pug
        include ../partials/shape.pug
        include ../partials/competencies-block.pug
        include ../partials/design.pug
        include ../partials/programming.pug
        include ../partials/computer-hardware.pug
        include ../partials/management-block.pug
        include ../partials/human-resources.pug
        include ../partials/partners-block.pug
        script(type="text/javascript", src="/js/main.js")