.page
    .container
        .header-top
            .left-side
                .logo
                    img(src="../img/logotype.svg", alt="logotype")
            .right-side
                .icon-link-youtube
                    a(href="#")
                        img(src="../img/youtube-logo.svg", alt="")
                .burger-menu
                    input(type="checkbox")
                    span
                    span
        .about-us-wrapper
            .about-us-bg-picture
            h2.about-us-header О нас
            .about-us-block-header-text
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                p.about-header-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
.shape-block
    .shape