.hardware-block
    .container
        .hardware-wrapper
            .hardware-picture 
            h2.hardware-header Железо
            .hardware-background-right
            p.hardware-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
        .hardware-bottom-background
            .left-hardware-bg
            .right-hardware-bg
        