.competencies
    .container
        .competencies-wrapper
            .left-side-competencies
                h2.schema-header Компетенции
            .right-side-competencies
                img.schema(src="../img/scheme.svg", alt="")
                ul.competencies-items
                    li.competencie-list
                        a.competencie-link(href="#") Дизайн
                    li.competencie-list
                        a.competencie-link(href="#") Программирование
                    li.competencie-list
                        a.competencie-link(href="#") Железо
                    li.competencie-list
                        a.competencie-link(href="#") Менеджмент
                    li.competencie-list
                        a.competencie-link(href="#") Человеческие ресурсы
                .competencies-decoration
        .competencies-picture-block
            .bg-competencies-picture

        