.page
    .container
        .header-top
            .left-side
                .logo
                    img(src="../img/logotype.svg", alt="logotype")
            .right-side
                .icon-link-youtube
                    a(href="#")
                        img(src="../img/youtube-logo.svg", alt="")
                .burger-menu
                    input(type="checkbox")
                    span
                    span
        .design-page-wrapper
            .left-side-design
                .design-page-header Дизайн
                .design-page-icon
            .right-side-design
                ul.design-content
                    li.design-list
                        a(href="#").design-link Визуальные эффекты 
                    li.design-list
                        a(href="#").design-link 3D Моделирование 
                    li.design-list
                        a(href="#").design-link Свет
                    li.design-list
                        a(href="#").design-link Звук 
                .sub-block-design-list
                    ul.sub-design
                        li.sub-design-list
                            a(href="#").sub-design-link Инструменты 
                        li.sub-design-list
                            a(href="#").sub-design-link Проектирование
                        li.sub-design-list
                            a(href="#").sub-design-link Создание и разработка
                        li.sub-design-list
                            a(href="#").sub-design-link Рендеринг
                    ul.sub-design
                        li.sub-design-list
                            a(href="#").sub-design-link Инструменты 
                        li.sub-design-list
                            a(href="#").sub-design-link Технологии
                        li.sub-design-list
                            a(href="#").sub-design-link Творчество и технические навыки
                    ul.sub-design
                        li.sub-design-list
                            a(href="#").sub-design-link Матчасть по свету и теням 
                        li.sub-design-list
                            a(href="#").sub-design-link Проектирование
                        li.sub-design-list
                            a(href="#").sub-design-link Технологии и инструменты 
                    ul.sub-design
                        li.sub-design-list
                            a(href="#").sub-design-link Инструменты 
                        li.sub-design-list
                            a(href="#").sub-design-link Методология
                        li.sub-design-list
                            a(href="#").sub-design-link Проектирование, создание
        .design-btn
            a(href="#").design-btn-link Хочу здесь работать
.design-page-bg
