.human-resources-block
    .container
        .human-resources-wrapper
            .human-resources-picture 
            h2.human-resources-header.
                Человеческие
                ресурсы 
            p.human-resources-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.