.programm-block
    .container
        .programm-wrapper
            .programm-picture 
            h2.programm-header Программирование 
            p.programm-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
        .programm-background-picture